/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Kodchasan', sans-serif;
}

.body {
	background-color: black;
	position: relative;
}

.container {
	width: 100vmin;
	height: 100vmax;
	overflow: hidden;
	position: relative;
	color: white;
}

.bg-img img {
	height: 100vmax;
	filter: grayscale(100%);
	position: absolute;
	z-index: -1;
}

.main {
	position: absolute;
	z-index: 1;
	margin: 20vmin 0;
	/* display */
	/* display: none; */
}

.brand {
	background-color: black;
	width: 200px;
	border-radius: 20px;
	margin: 20px auto;
	box-sizing: border-box;
	text-align: center;
	padding: 20px;
}

.brand:hover {
	cursor: pointer;
}

.main ul {
	width: 100vmin;
	padding : 20px 0;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

.nav-item {
	width: 100px;
	box-sizing: border-box;
	background-color: black;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}

.home {
	padding: 0;
}

.nav-item:hover {
	cursor: pointer;
	color: red;
	background-color: #bbb;
}

#home a {
	display: inline-block;
	width: 80%;
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
	color: white;
}

#home a:hover {
	color: red;
}

.open {
	width: 200px;
	padding-left: 30px;
	margin: 20px 0;
}

.location {
	padding: 30px;
}

.modal {
	position: absolute;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100vmin;
	height: 100vmax;
	display: none;
}

.modal-container {
	width: 370px;
	background-color: white;
	padding: 10px 0;
	margin: 18vmax auto;
	color: black;
	text-align: center;
	position: relative;
}

.tutup-modal {
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	background-color: black;
	color: white;
}

.menu-pilihan {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	grid-row-gap: 10px;
	padding: 10px 0;
}

.tiap-pilihan {
	width: 160px;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tiap-pilihan:hover,
.tutup-modal:hover {
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.tiap-pilihan img {
	width: 150px;
}

.login form {
	width: 350px;
	margin: 10px auto;
	padding: 10px 5px;
	border-radius: 10px;
	background-color: black;
	color: white;
	text-align: justify;
}

.login table {
	margin: 0 auto;
}

.login form p {
	text-align: right;
}

.button {
	padding: 10px;
	text-align: center;
}

button {
	padding: 5px;
	border-radius: 5px;
}

button:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

/* DESKTOP VERSION */
@media only screen and (min-width: 992px) {
	.container {
		width: 100vmax;
		height: 100vmin;
	}

	.bg-img img {
		height: 100vmin;
		width: 100vmax;
	}

	.main ul {
		width: 100vmax;
		list-style: none;
	}

	.open {
		width: 500px;
		display: flex;
		justify-content: space-evenly;
		text-align: center;
		margin: 0 auto;
		padding-left: 0;
	}

	.location {
		text-align: center;
	}


	/*MODAL*/
	.modal {
		width: 100vmax;
		height: 100vmin;
	}

	.modal-container {
		width: 450px;
		margin: 20vmin auto;
	}
}